@use "sass:color";
@use "theme";
@use "common";
@use "variable";

#usb_manager {
  @include common.widget_border(
    variable.$bar-widgets-usb_manager-border-radius,
    variable.$bar-widgets-usb_manager-border-enabled,
    variable.$bar-widgets-usb_manager-border-width
  );

  @include common.nerd-icon(variable.$bar-widgets-usb_manager-icon_size, null);
}

#usb-manager-menu {
  min-width: 180px;
  padding: 10px;

  #usb-manager-header {
    margin-bottom: 6px;
  }

  #usb-manager-title {
    font-weight: 600;
  }

  #usb-manager-list {
    min-height: 160px;
  }

  #usb-manager-item {
    padding: 8px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.05);
    margin-top: 8px;

    &-header {
      margin-bottom: 2px;
    }
  }

  .usb-manager-btn {
    background-color: theme.$accent-green;
    color: theme.$background-dark;

    border: variable.$border;
    border-width: 2px;
    border-radius: variable.$radius;
    padding: 4px 10px;

    .operation-all {
      padding-right: common.toEm(8);
    }

    &:hover {
      @extend %widget_hover;
    }

    #usb-manager-action {
      font-weight: 600;
    }
  }

  #usb-manager-refresh {
    border-radius: variable.$radius-large;
    padding: 3px 4px;
  }

  #usb-manager-footer {
    margin-top: 6px;
  }
}
